<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center" color="primary">
     Hospital Management System
     </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div id="container">
    <ion-button color="primary"  shape="round" (click)="register()" [routerLink]="['/register']">REGISTER PATIENT</ion-button>
   <br/>
    <ion-button color="primary"  shape="round" (click)="view_details()">VIEW PATIENT DETAILS</ion-button>
    



  </div>
</ion-content>
<ion-footer >
  <ion-toolbar>
    <ion-title class="ion-text-center" text-center>copyright@HMS</ion-title>
  </ion-toolbar>
</ion-footer>